body{
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
    padding-top:100px;
}

.box{
    background:#222;
    padding:20px;
    border-radius:15px;
    width:300px;
    margin:auto;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}